<nav class="navbar navbar-dark bg-dark">
  <span class="navbar-brand mb-0 h1">Hex Calc</span>
</nav>

<div class="m-5">
  <form [formGroup]="calcForm">
    <div class="row">
      <div class="col-sm-1 col-md-4">
        <div class="form-group">
          <label for="decimal">Decimal</label>
          <input
            formControlName="dec"
            type="text"
            class="form-control"
            id="decimal"
            placeholder="Decimal number"
            [ngClass]="{ 'is-invalid': invalidDeci }"
          />
        </div>
      </div>
      <div class="col-sm-1 col-md-4">
        <div class="form-group">
          <label for="hex">Hex</label>
          <input
            formControlName="hex"
            type="text"
            class="form-control"
            id="hex"
            placeholder="Hex number"
            [ngClass]="{ 'is-invalid': invalidHex }"
          />
        </div>
      </div>
      <div class="col-sm-1 col-md-4">
        <div class="form-group">
          <label for="bin">Binary</label>
          <input
            formControlName="bin"
            type="text"
            class="form-control"
            id="bin"
            placeholder="Binary number"
            [ngClass]="{ 'is-invalid': invalidBin }"
          />
        </div>
      </div>
    </div>
  </form>

  <app-bin-display [bin]="calcForm.value.bin"></app-bin-display>
</div>
